@import "./reset.css";

body {
  overflow: hidden;
}

.top {
  display: flex;
  flex-direction: column;
}

.top .top__col1 {
  width: 1500px;
  height: 10vh;

  background-color: #fad390;
}

.top .top__col1-1 {
  width: 90px;
  height: 100vh;

  background-color: #f6b93b;
}

.main .main__col1 {
  width: 600px;
  height: 45vh;

  display: flex;
  flex-direction: column;

  background-color: #fa983a;
  margin-left: 90px;
}

.main .main__col1-1 {
  width: 800px;
  height: 100vh;

  background-color: #f8c291;
  margin-left: 599px;
}

.main .main__col2 {
  width: 600px;
  height: 45vh;

  display: flex;
  flex-direction: column;

  background-color: #e58e26;
  margin-left: 90px;
}
